.product-preview{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin-top: 130px;
}
.product{
    background-image: linear-gradient(to right,  rgb(13, 13, 13) , #272727);
    width: 310px;
    height: 225px;
    color: $base-text;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    transition-property: background-image;
    transition-duration: 220ms;
    transition-timing-function: ease;
}
.product img{
    width: 100%;
}
.prod_img{
    margin-top: 60px;
}
.price{
    font-size: 24px;
    font-weight: lighter;
    margin-top: 51px;
    margin-bottom: 13px;
}
.product:hover{
    background-image: linear-gradient(to right,  rgb(108, 76, 0) , #EBAD51);
    
}
.buy-btn{
    background-color: $btn-color;
    border: none;
    color: $base-text;
    width: 79px;
    height: 34px;
}
.buy-btn:hover{
    cursor: pointer;
}